Repository chima91/3d-culture: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

style(AuthenticationStyle): 認証関連の画面におけるスタイリングを調整
  src/components/AuthenticationStyle/style.ts
Due: eslint --fix, prettier --write

chore: manifest.jsonのiconsを修正
  public/manifest.json
Due: none

fix(CanvasArea/): suspenseの処理およびスタイルを修正
  src/pages/Detail/CanvasArea/index.tsx
  src/pages/Detail/CanvasArea/style.ts
Due: eslint --fix, prettier --write

feat(SearchBar/): 検索バーにonKeydown, role, tabIndexを追加しアイコンのスタイルを微修正。
  src/templates/DashboardHeader/SearchBar/index.tsx
Due: eslint --fix, prettier --write

refactor(NotFound/): 404ページのスタイルおよびメタデータをを調整
  src/pages/NotFound/index.tsx
  src/pages/NotFound/style.ts
Due: eslint --fix, prettier --write

refactor(pages/): 各pageにreact-helmet-asyncでメタデータを追加
  src/components/Head/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Detail/index.tsx
  src/pages/ForgetPassForm/index.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/pages/ModelUpdate/index.tsx
  src/pages/Profile/index.tsx
  src/pages/Signup/index.tsx
  src/pages/Upload/index.tsx
Due: eslint --fix, prettier --write

feat(src/): メニューに登録チャンネルへのリンクを追加
  src/templates/DashboardHeader/UserMenu/index.tsx
Due: eslint --fix, prettier --write

refactor(UserMenu): メニューのスタイルをリファクタリング
  src/templates/DashboardHeader/UserMenu/index.tsx
  src/templates/DashboardHeader/UserMenu/style.ts
Due: eslint --fix, prettier --write

refactor(Channels): 登録チャンネル一覧画面のスタイルをリファクタリング
  src/pages/Channels/index.tsx
  src/pages/Channels/style.ts
Due: eslint --fix, prettier --write

refactor: components/HomeにおけるGridの大きさおよびスタイルを修正
  src/pages/Home/index.tsx
  src/pages/Home/style.ts
Due: eslint --fix, prettier --write

refactor: templates/Sidebarおよびlayouts/Homeにおけるサイドバーの表示/非表示などのスタイルを修正
  src/layouts/Home/style.ts
  src/templates/Sidebar/index.tsx
  src/templates/Sidebar/style.ts
Due: eslint --fix, prettier --write

feat: pages/Aboutを作成し、共通スタイルをassets/SimpleCardStyleに定義
  src/Route.tsx
  src/assets/SimpleCardStyle.ts
  src/pages/About/index.tsx
Due: eslint --fix, prettier --write

chore(/): unused-importsの導入とそれに伴うESLintのアプデ, import/orderルールの追加
  .eslintrc.json
  package-lock.json
  package.json
Due: none

chore(src/pages): import/order, unused-imports/no-unused-importsの適用
  src/pages/About/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Detail/CanvasArea/index.tsx
  src/pages/Detail/index.tsx
  src/pages/ForgetPassForm/index.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/pages/ModelUpdate/UpdateForm/index.tsx
  src/pages/ModelUpdate/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/Profile/UploadForm/index.tsx
  src/pages/Profile/index.tsx
  src/pages/Signup/index.tsx
  src/pages/Upload/UploadForm/index.tsx
  src/pages/Upload/index.tsx
Due: eslint --fix, prettier --write

chore(src/layouts): import/order, unused-imports/no-unused-importsの適用
  src/layouts/Home/index.tsx
  src/layouts/SidelessHome/index.tsx
Due: eslint --fix, prettier --write

chore(src/components): import/order, unused-imports/no-unused-importsの適用
  src/components/ObjCard/index.tsx
  src/components/ObjHorizontalCard/index.tsx
  src/components/Pagination/index.tsx
  src/components/Three/index.tsx
Due: eslint --fix, prettier --write

chore(src/hooks): import/order, unused-imports/no-unused-importsの適用
  src/hooks/Authentication/useForgetPass/index.ts
  src/hooks/Authentication/useLogin/index.ts
  src/hooks/Authentication/useSignout/index.ts
  src/hooks/Authentication/useSignup/index.ts
  src/hooks/AvatarUpload/index.ts
  src/hooks/ModelUpdate/index.ts
  src/hooks/ModelUpload/index.ts
Due: eslint --fix, prettier --write

chore(src/providers): import/order, unused-imports/no-unused-importsの適用
  src/providers/ApolloClient/index.tsx
  src/providers/AuthStateListener/index.tsx
  src/providers/GlobalAccount/index.tsx
Due: eslint --fix, prettier --write

chore(src/stores): import/order, unused-imports/no-unused-importsの適用
  src/stores/User/index.ts
Due: eslint --fix, prettier --write

chore(src/templates): import/order, unused-imports/no-unused-importsの適用
  src/templates/DashboardHeader/SearchBar/index.tsx
  src/templates/DashboardHeader/UserMenu/index.tsx
  src/templates/DashboardHeader/index.tsx
  src/templates/Sidebar/index.tsx
Due: eslint --fix, prettier --write

chore(src/): import/order, unused-imports/no-unused-importsの適用
  src/Route.tsx
  src/index.tsx
Due: eslint --fix, prettier --write

build: 不要なeslintの削除, threeのアップデート
  package-lock.json
  package.json
Due: none

build: deprecatedとなったreact-qrcodesをnext-qrcodeに置換
  src/components/QR/index.tsx
Due: eslint --fix, prettier --write

fix: eslint@7の導入, threeのupdate
  package-lock.json
  package.json
  src/pages/Detail/index.tsx
  src/pages/ModelUpdate/UpdateForm/index.tsx
  src/pages/ModelUpdate/index.tsx
Due: eslint --fix, prettier --write

refactor: czの設定し直し
  package-lock.json
  package.json
Due: none

chore: next-qrcodeのCanvasに渡すoptionsを微修正
  src/components/QR/index.tsx
Due: eslint --fix, prettier --write

chore: move eslint from dependencies to devDependencies
  package-lock.json
  package.json
Due: none

chore: delete unnecessary GoogleForm component
  src/components/GoogleForm/index.tsx
Due: eslint --fix, prettier --write

build: add amplify.yml for configuring build settings
  amplify.yml
Due: none

refactor: 認証関連のスタイルをassets配下に定義
  src/assets/AuthenticationCardStyle.ts
  src/components/AuthenticationStyle/style.ts
  src/pages/ForgetPassForm/index.tsx
  src/pages/Login/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/Signout/index.tsx
  src/pages/Signup/index.tsx
Due: eslint --fix, prettier --write

feat: 依存ライブラリの更新プルリクを自動作成するための設定ファイルを作成
  .github/dependabot.yml
Due: none

chore: make react/no-unknown-property off
  .eslintrc.json
Due: none

Update README.md
  README.md
Due: prettier --write

chore: ignore rc file
  .gitignore
Due: none

chore: git rm --cached
  .firebaserc
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,ts,tsx,css,md}
